html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, a, hr, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 100%;
  font-style: normal;
  font-weight: normal;
  vertical-align: baseline;
  background: transparent;
  outline: 0; }

input, select {
  vertical-align: middle; }

button, select, textarea, input {
  font-family: inherit; }

input:not([type="radio"]), input:not([type="checkbox"]), select, textarea {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

img {
  max-width: 100%; }

a img {
  display: block;
  border: none; }

li {
  list-style: none; }

hr {
  border: 0; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

caption, th, td {
  text-align: left; }

a {
  color: #3658a4; }
  a:hover {
    text-decoration: none; }
  a:focus, a:hover {
    color: #1d2f57; }
  a:active {
    color: #4a6fc3; }

body {
  min-height: 100vh;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Helvetica", Arial, sans-serif;
  line-height: 1.25;
  color: #000;
  background-color: #fff; }

button {
  width: auto;
  border: 0px;
  cursor: pointer; }

[type="button"] {
  border-radius: 3px;
  font-size: 14px;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  padding: 13px; }
  [type="button"].error {
    color: #fff;
    -webkit-box-shadow: 0 0.125rem #970c0c;
    box-shadow: 0 0.125rem #970c0c;
    background-color: #d01111;
    cursor: not-allowed; }
    [type="button"].error:hover {
      background-color: #d01111; }
  [type="button"][disabled] {
    opacity: .6;
    cursor: not-allowed; }

.approve-button {
  color: #806e09;
  background: #f3da4d;
  -webkit-box-shadow: 0 0.125rem #806e09;
  box-shadow: 0 0.125rem #806e09; }
  .approve-button:hover {
    background: #f5df65; }

.search-button {
  color: #fff;
  background: #263c70;
  -webkit-box-shadow: 0 0.125rem #162442;
  box-shadow: 0 0.125rem #162442; }
  .search-button:hover {
    background: #335096; }

.action-button {
  color: #fff;
  background: #3658a4;
  -webkit-box-shadow: 0 0.125rem #273f76;
  box-shadow: 0 0.125rem #273f76; }
  .action-button:hover {
    background: #3c62b7; }

.apply-button {
  color: #fff;
  background: #69b42e;
  -webkit-box-shadow: 0 0.125rem #4d8322;
  box-shadow: 0 0.125rem #4d8322; }
  .apply-button:hover {
    background: #75c833; }

.neutral-button {
  border: 1px solid #263c70;
  color: #263c70;
  background: #fff;
  -webkit-box-shadow: 0 0.125rem #162442;
  box-shadow: 0 0.125rem #162442; }
  .neutral-button:hover {
    color: #fff;
    background: #2c4683; }

.link-button {
  text-decoration: underline;
  color: #3658a4;
  background: transparent; }
  .link-button:hover {
    background: #f2f2f2; }

.checkbox {
  position: relative;
  margin-bottom: 10px; }
  .checkbox + .checkbox {
    display: block;
    margin-top: 10px; }
  .checkbox > label {
    color: #000;
    text-transform: inherit; }
  .checkbox input {
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(1px, 1px, 1px, 1px);
    border: 0; }
    .checkbox input:checked ~ label::after {
      content: '';
      position: absolute;
      top: .3em;
      left: .4em;
      width: 1px;
      height: 6px;
      padding: 2px;
      border: solid #3658a4;
      border-width: 0 4px 4px 0;
      -webkit-transform: rotate(45deg);
      transform: rotate(45deg); }
  .checkbox::before {
    content: '';
    display: inline-block;
    vertical-align: middle;
    width: 1em;
    height: 1em;
    border: 1px solid #ccc;
    background-color: #fff;
    border-radius: .19em; }

.is-inline {
  display: block;
  margin-bottom: 20px; }
  .is-inline .checkbox + .checkbox {
    display: inline-block;
    margin-left: 20px; }

.radio {
  position: relative;
  margin-bottom: 10px; }
  .radio + .radio {
    display: block;
    margin-top: 10px; }
  .radio > label {
    color: #000;
    text-transform: inherit; }
  .radio input {
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(1px, 1px, 1px, 1px);
    border: 0; }
    .radio input ~ label {
      vertical-align: middle;
      cursor: pointer; }
    .radio input:checked ~ label::after {
      content: '';
      position: absolute;
      top: 3px;
      left: 0;
      width: 6px;
      height: 6px;
      border: 6px solid #3658a4;
      border-radius: 50%; }
  .radio::before {
    content: '';
    display: inline-block;
    vertical-align: middle;
    width: 1em;
    height: 1em;
    border: 1px solid #ccc;
    background-color: #fff;
    border-radius: 50%; }

.is-inline {
  display: block;
  margin-bottom: 20px; }
  .is-inline .radio + .radio {
    display: inline-block;
    margin-left: 20px; }

input[type="text"], input[type="email"] {
  width: 100%;
  padding: .7em;
  border: 1px solid #ccc;
  color: #000;
  font-size: 1em;
  background: #fff;
  border-radius: 3px; }

input[name="ddd"] {
  width: 12%; }

label {
  font-size: .6875em;
  color: #3658a4;
  text-transform: uppercase;
  cursor: pointer; }

.label-title {
  display: block;
  font-size: 9px;
  text-transform: uppercase;
  color: #3658a4; }

.select {
  position: relative;
  display: inline-block;
  padding: .13em;
  border: 1px solid #ccc;
  border-radius: 3px;
  line-height: 1.25;
  cursor: pointer; }
  .select::after {
    content: '';
    position: absolute;
    top: 30%;
    right: 10%;
    padding: 4px;
    border: solid #3658a4;
    border-width: 0 1px 1px 0;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg); }
  .select select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 100%;
    padding-top: .5em;
    padding-right: 3em;
    padding-bottom: .5em;
    padding-left: 1em;
    border: none;
    font-size: medium;
    font-size: initial;
    background-color: #fff;
    cursor: pointer; }
  .select option:disabled {
    color: #ccc;
    cursor: not-allowed; }

.form-default {
  font-size: 14px; }

.steps ul {
  list-style: none outside none;
  margin: 0 0 1.25rem 0;
  padding: 0;
  text-align: center; }

.steps li {
  display: inline-block;
  text-transform: uppercase;
  font-family: "Oswald", "Arial Condensed", sans-serif;
  margin: -0.25rem; }
